.add-puck-wrapper {
    color: white;
    font-size: 9px;
    font-weight: bold;
}

.icon {
    width: 40%;
    height: 40%;
    position: absolute;
    top: 36%;
    left: 28%;
    
}

.icon img{ 
    width: 100%;
    height: 100%;
}

.text {
    color: white;
    font-size: 10px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -10px;
}

.title {
    font-size: 16px;
    top: -26px;
    position: absolute;
    width: 100%;
    text-align: center;
}

